

body {background-image: url(./docs/assets/images/back.jpg)}

h2 {color:aquamarine;}


#container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: ;
        
}
#myCanvas {
        background-image: url('./docs/assets/images/front.jpg');
        background-repeat: no-repeat;
        background-size: 560px 560px;
        border: 2px solid orange;
}
