
body {background-image: url(./docs/assets/images/back.jpg)}
h2 {color:rgb(246, 173, 28);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        ;}


#container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        
        
}
#myCanvas {
        background-image: url('./docs/assets/images/front.jpg');
        background-repeat: no-repeat;
        background-size: 560px 560px;
        border: 2px solid orange;
}
